---
import Layout from '~/layouts/PageLayout.astro';
import Features from '~/components/widgets/Features.astro';
import trophies from '~/data/trophies.json';

const metadata = {
  title: 'Dundonald Farmers Society 2025 Open Show',
  ignoreTitleTemplate: true,
};

// Group trophies alphabetically
const trophyGroups: { label: string; items: typeof trophies }[] = [
  { label: 'Bovine', items: [] },
  { label: 'Canine', items: [] },
  { label: 'Clydesdale', items: [] },
  { label: 'Driving', items: [] },
  { label: 'Equine', items: [] },
  { label: 'Ovine', items: [] },
  { label: 'Show Jumping', items: [] },
  { label: 'Working Hunter', items: [] },
  { label: 'Unknown', items: [] },
];

for (const trophy of trophies) {
  const firstLetter = trophy.description.substring(9, 11).toUpperCase();

  if (firstLetter >= 'BO' && firstLetter <= 'BO') {
    trophyGroups[0].items.push(trophy);
  } else if (firstLetter >= 'CA' && firstLetter <= 'CA') {
    trophyGroups[1].items.push(trophy);
  } else if (firstLetter >= 'CL' && firstLetter <= 'CL') {
    trophyGroups[2].items.push(trophy);
  } else if (firstLetter >= 'DR' && firstLetter <= 'DR') {
    trophyGroups[3].items.push(trophy);
  } else if (firstLetter >= 'EQ' && firstLetter <= 'EQ') {
    trophyGroups[4].items.push(trophy);
  } else if (firstLetter >= 'OV' && firstLetter <= 'OV') {
    trophyGroups[5].items.push(trophy);
  } else if (firstLetter >= 'SH' && firstLetter <= 'SH') {
    trophyGroups[6].items.push(trophy);
  } else if (firstLetter >= 'WO' && firstLetter <= 'WO') {
    trophyGroups[7].items.push(trophy);
  } else {
    trophyGroups[8].items.push(trophy);
  }
}
---

<Layout metadata={metadata}>
  {trophyGroups.map(group => (
    group.items.length > 0 && (
        <Features
          id={group.label.toLowerCase().replace(/\W/g, '')}
          tagline="Trophies & Winners"
          title={`Trophies: ${group.label}`}
          subtitle=""
          items={group.items}
        />
    )
  ))}

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent" />
  </Fragment>
</Layout>

<!-- ---
import Layout from '~/layouts/PageLayout.astro';

import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Dundonald Farmers Society 2025 Open Show',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Features Widget *************** --

  <Features
    id="trophies"
    tagline="Trophies & Winners"
    title="Awards to be competed for"
    subtitle="DUNDONALD FARMERS' SOCIETY greatly appreciate the trophies and awards presented by many of our patrons."
    items={}
  />

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Layout> -->
