---
import Layout from '~/layouts/PageLayout.astro';

// import Hero from '~/components/widgets/Hero.astro';
// import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Dundonald Farmers Society 2025 Open Show',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Features Widget *************** -->

  <Features
    id="sponsors"
    tagline="Summary of the Sponsors"
    title="Sponsors: The lifeblood of our show"
    subtitle="Our show is made possible by the generous support of our sponsors. Thank you to all our sponsors for making this show possible."
    items={[
      {
        title: 'Platinum Sponsors',
        description: '<span class="text-blue-700"><a href="/sponsors/platinum/">Click here</a></span> to learn more about our Platinum sponsors.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Gold Sponsors',
        description: '<span class="text-blue-700"><a href="/sponsors/gold/">Click here</a></span> to learn more about our Gold sponsors.',
        icon: 'tabler:components',
      },
      {
        title: 'Silver Sponsors',
        description: '<span class="text-blue-700"><a href="/sponsors/silver/">Click here</a></span> to learn more about our Silver sponsors.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Past Sponsors',
        description: '<span class="text-blue-700"><a href="/sponsors/past/">Click here</a></span> to learn more about all sponsors that have supported us in the past',
        icon: 'tabler:rocket',
      },
    ]}
  />

</Layout>
